<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.BlackTeaChan.XposedDemo">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_tea"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_tea"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FlashNotice">
        </activity>
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="一个超级流弊的Xposed模块" />
        <meta-data
            android:name="xposedminversion"
            android:value="56" />
        <service android:name=".FloatService"/>

    </application>

</manifest>